<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pseudoJACKPOT</title>

    <!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
	<link rel="manifest" href="img/favicon/site.webmanifest">

    {{!-- styles --}}
    <link rel="stylesheet" type="text/css" href="css/font/flaticon.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/lights.css">
    <link rel="stylesheet" type="text/css" href="css/audio-manager.css">
    <link rel="stylesheet" type="text/css" href="css/modal.css">
</head>

<body>

    <main>

        {{!-- board background --}}
        <img src="../img/background-1.png" alt="background">

        {{!-- TOP SCREEN --}}
        <div class="top-screen">

            <div class="top-left">

                <div class="legend-row">
                    <img src="../img/W.png" alt="Cherry"/>
                    <img src="../img/W.png" alt="Cherry"/>
                    <img src="../img/W.png" alt="Cherry"/>
                    <p class="score"><span>=</span>1</p>
                </div>

                <div class="legend-row">
                    <img src="../img/C.png" alt="Banana" />
                    <img src="../img/C.png" alt="Banana" />
                    <img src="../img/C.png" alt="Banana" />
                    <p class="score"><span>=</span>2</p>
                </div>

                <div class="legend-row">
                    <img src="../img/P.png" alt="Tomato" />
                    <img src="../img/P.png" alt="Tomato" />
                    <img src="../img/P.png" alt="Tomato" />
                    <p class="score"><span>=</span>5</p>
                </div>

            </div>

            <div class="top-middle">
                <p id="top-screen">000</p>
            </div>

            <div class="top-right">

                <div class="legend-row">
                    <img src="../img/A.png" alt="Avocado" />
                    <img src="../img/A.png" alt="Avocado" />
                    <img src="../img/A.png" alt="Avocado" />
                    <p class="score"><span>=</span>10</p>
                </div>

                <div class="legend-row">
                    <img src="../img/S.png" alt="Seven"/>
                    <img src="../img/S.png" alt="Seven"/>
                    <img src="../img/S.png" alt="Seven"/>
                    <p class="score"><span>=</span>20</p>
                </div>

            </div>

        </div>





        {{!-- GAME BOARD --}}

        <div id="game-board">

            {{#each columns as |item|}}
                <div class="column-wrapper"><div class="column">{{#each item}}<div class="item-wrapper"></div>{{/each}}</div></div>
            {{/each}}

        </div>



        {{!-- DISPLAY --}}

        <div id="display">

            <div>
                <p class="pre">COINS:</p>
                <p id="coins">555555</p>
            </div>

            <div class="bet">
                <i id="betDown" class="flaticon-minus"></i>
                <p id="bet">555</p> 
                <i id="betUp" class="flaticon-plus"></i>
            </div>

            <div>
                <p class="pre">WIN:</p>
                <p id="win">555555</p>
            </div>

        </div>



        {{!-- BUTTONS --}}

        <div class="buttons">
            <div class="btn" id="reset"><span><p>RESET</p></span></div>
            <div class="btn blue" id="scores"><span><p>SCORES</p></span></div>
            <div class="btn blue" id="autoplay"><span><p>AUTO</p></span></div>
            <div class="btn blue" id="transfer"><span><p>TRANSFER</p></span></div>
            <div class="btn green" id="spin"><span><p>SPIN</p></span></div>
        </div>


        {{!-- LIGHTS --}}

        <div class="lights">

            <div class="blue"></div>
            <div class="blue"></div>
            <div class="blue"></div>
            <div class="blue"></div>

            <div class="blue"></div>
            <div class="blue"></div>
            <div class="blue"></div>
            <div class="blue"></div>

            <div id="top-light"></div>

        </div>

    </main>




    <script type="module" src="js/init.js"></script>

</body>

</html>