<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your scores - pseudoJACKPOT</title>

    <!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
	<link rel="manifest" href="img/favicon/site.webmanifest">

    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/scores-page.css">
</head>

<body>

    <header>

        <a href="./" class="exit">exit</a>

        <span id="js-mobile-flag" hidden='true'>js mobile flag</span>

    </header>



    <div id="scores-page">

    </div>



    <script type="module" src="js/scoresPage.js"></script>

</body>
</html>