#game-board {
    width: 50vw;
    height: calc(50vw/1.618);
    display: flex;
    border: 1px solid red;
    overflow: hidden;
    margin-top: 100px;
}

#game-board .column {
    width: 100%;
}

#game-board .column .item-wrapper {
    width: 100%;
    padding: 12% 20%;
    height: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    position: relative;
    top: -32%;
}

#game-board .column .item-wrapper img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    transition: .15s ease;
    /* border: 3px solid transparent; */
    border: 5px;
    border-style: solid;
    border-color: transparent;
    border-color: transparent;
}


:root {
    --high-light-time: .3s;
}


#game-board .column .item-wrapper.high-light img {
    animation: high-light var(--high-light-time) ease-in-out forwards; 
}


/* HIGHLIGHT */
@keyframes high-light {
    0% {
        border-color: transparent;
        transform: scale(1);
    }
    20% {
        border-color: red;
        transform: scale(1.6);
    }
    40% {
        border-color: red;
        transform: scale(1.6);
    }
    100% {
        border-color: re;
        transform: scale(1);
    }
}


@media (max-width: 1200px) {
    #game-board {
        width: 70vw;
        height: calc(70vw/1.618);
    }

}


@media (max-width: 768px) {
    #game-board {
        width: 80vw;
        height: calc(80vw/1.618);
    }

    #game-board .column .item-wrapper {
        padding: 8% 12%;
    }

}

@media (max-width: 576px) {
    #game-board {
        width: 95vw;
        height: calc(95vw/1.618);
    }

    #game-board .column .item-wrapper {
        padding: 6% 9%;
    }
}
