/* TOPSCREEN */
.top {
    width: var(--board);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 10px;
    column-gap: 15px;
}

.top > * {
    background-color: #8e8e8e;
    border: 2px solid #616161;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 10px;
    padding: 0px 20px;
    margin: 0 auto; 
}


.top .legend {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top .legend:last-child { gap: 22px;}

.top .legend .legend-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top .legend .legend-row img {
    width: calc(var(--item) * 0.5);
}

.top .legend .legend-row img:not(:first-of-type) {
    margin-left: calc(var(--item) * -0.15);
}

.top .legend .legend-row .score {
    position: relative;
    font-family: 'Anton';
    font-weight: bold;
    font-size: 30px;
    color: #17264e;
    text-shadow: -1px -1px 1px rgba(255,255,255,0.2), 1px 1px 1px rgba(0,0,0,0.6);
    letter-spacing: 3px;
}

.top .legend .legend-row .score span {
    margin: 0 3px;
}

.top .top-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #17264e;
    text-shadow: -1px -1px 1px rgba(255,255,255,0.2), 1px 1px 1px rgba(0,0,0,0.6);
    font-size: 60px;
    height: 100px;
    margin: auto;
    min-width: 80%;
    letter-spacing: 5px;
    transition: .1s ease-in-out;
}
 
#top-screen { transition: .1s ease-in-out; }

#top-screen.active { transform: scale(1.5);}



/* UI */
#game-ui {
    width: var(--board);
}

/* display */
#game-ui .display {
    width: 100%;
    margin: 20px auto 0;
    background-color: #1e0000;
    border: 2px solid red;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: perspective(230px) rotateX(-1deg);
}

#game-ui .display > div {
    text-align: center;
    position: relative;
}

#game-ui .display .bet {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#game-ui .display i {
    font-size: 16px;
    color: #ed143d;
    cursor: pointer;
    opacity: 0.6;
    transition: .1s ease;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #ed143d;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game-ui .display i:hover {
    transform: scale(1.1);
    opacity: 1;
}

#game-ui .display i:active {
    transform: scale(0.9);
}


#game-ui .display > div p { 
    padding: 5px 0 7px;
    font-size: 32px;
    color: #ed143d;
    transition: .06s ease-in-out;
    font-family: 'Anton';
    letter-spacing: 1px;
}

#game-ui .display > div p.active {
    transform: scale(1.4);
} 


#game-ui .display > div .label {
    padding: 3px 0;
    position: absolute;
    width: 50px;
    bottom: -25px;
    left: 50%;
    transform: translate(-50%);
    width: 65px;
    border: 2px solid #ff6347;
    border-radius: 7px;
    background: #a52a2a;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1.5px;
    color: #ababab;
}


.bet-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.bet-btn p {
    cursor: pointer;
    opacity: 0.6;
    transition: .2s ease;
    padding: 0;
    position: relative;
    
}

.bet-btn p#betDown::before {
    transform: translate(-11px, 2px);
}

.bet-btn p#betUp::before {
    transform: translate(-11px, 2px);
}

.bet-btn p:before {
    position: absolute;
    content: '';
    border: 2px solid #ed143d;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}


/* buttons */
#game-ui .buttons {
    display: grid;
    gap: 20px;
    margin-top: 50px;
    width: 100%;
    grid-template-columns: 2fr 2fr 2fr 2fr 3fr;
    column-gap: 10px;
    transform: perspective(230px) rotateX(2deg);
    position: relative;
}

.btn {
    display: flex;
    width: inherit;
    border: 3px solid #0000007d;
    border-radius: 8px;
    background-color: #b51919;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    /* transform: perspective(100px) rotateX(1deg); */
}

.btn span {
    width: 100%;
    height: 70px;
    margin: 0 -1px;
    background-color: #f12323;
    border: 1px solid;
    border-color: #9e1616;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -4px 6px 9px inset, 
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, 
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 2px;
    transform: translateY(-12px);
    transition: .1s ease;
    cursor: pointer;
    position: relative;
    padding-bottom: 12%;
    font-family: 'Anton';
    letter-spacing: 2px;
}

.btn span:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius:10px;
    box-shadow: rgb(0 0 0 / 43%) 0px -2px 15px;

}

.btn:active span,
.btn.active span {
    background-color: #a11515;
    transform: translateY(2px) scale(0.93);
    color: rgba(255,255,255,0.4);
}

.btn span p {
    /* background-color: #ffc4c4; */
    /* color: transparent; */
    /* text-shadow: 0px 1px 2px rgb(255 255 255 / 43%); */
    /* -webkit-background-clip: text; */
    /* -moz-background-clip: text; */
    /* background-clip: text; */
    transform: rotateX(29deg);
    max-width: 90%;
    word-break: break-word;
    text-align: center;
    text-shadow: -1px -1px 1px rgb(255 255 255 / 20%), 1px 1px 1px rgb(0 0 0 / 60%)
}

#spin span {
    padding-bottom: 5%;
}

#spin span p { 
    font-size: 30px;
    letter-spacing: 5px;
}

.btn.green {
    background-color: #248c4c;
}
.btn.green span {
    background-color: #1ada64;
    border-color: #008733;
}
.btn.green:active span,
.btn.green.active span {
    background-color: #119644;
}


.btn.blue {
    background-color: #004768;
}
.btn.blue span {
    background-color: #0084c2;
    border-color: #003046;
}
.btn.blue:active span,
.btn.blue.active span {
    background-color: #005f8b;
}



@media (max-width: 1200px) {
    #game-ui {
        padding: 0;
    }
}


@media (max-width: 768px) {

    .top {
        margin-top: 20px;
        column-gap: 8px;
    }
    
    .top > * {
        width: 100%;
        padding: 0;
    }

    .top .legend .legend-row .score {
        font-size: 22px;
    }

    .top .legend .legend-row .equals {
        margin: 0 7px 0 2px;
        gap: 2px;
    }

    .top .legend .legend-row .equals > div {
        width: 10px;
        height: 3px;
    }

    .top .top-screen {
        font-size: 40px;
        height: 75px;
    }


    #game-ui .buttons {
        margin-top: 50px;
        gap: 5px;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 10px;
    }

    .btn span {
        word-break: break-word;
        text-align: center;
        height: 55px;
        font-size: 16px;
        transform: translateY(-8px);
        padding-bottom: 7%;
    }

    #spin {
        grid-column-start: 2;
        grid-column-end: 4;
    }
    
    #spin span { padding-bottom: 2%; }
    #spin span p { font-size: 25px; }
}

@media (max-width: 576px) {

    .top .top-screen {font-size: 35px}

    .top .legend .legend-row .score {font-size: 18px}

    .top .legend .legend-row img:not(:first-of-type) {
        margin-left: calc(var(--item) * -0.25);
    }

    .top .legend .legend-row .equals { margin: 0 4px 0 0px}

    .top .legend .legend-row:not(:last-of-type) {margin-bottom: -5px;}

    .top .legend .legend-row .score span { margin: 0 3px 0 0;}


    #game-ui .display {
        width: 100%;
    }

    #game-ui .display > div {
        padding: 2px 4px 2px;
    }

    #game-ui .display > div p {
        font-size: 25px;
        padding: 5px 10px;
    }
    
    #game-ui .display .bet {
        gap: 2px;
    }

    
    /* buttons */
    .btn span {
        height: 55px;
        font-size: 16px;
        transform: translateY(-8px);
        padding-bottom: 7%;
    }

    #spin span p { font-size: 20px;}

}



