:root {
    --pading-top: 15px;
    --board: 800px;
    --item: 110px;
    --row-gap: 37px;
    --col-gap: 107px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (max-width: 768px) {
    body {
        justify-content: unset;
    }
}

#game-board {
    position: relative;
    width: var(--board);
    margin-top: 50px;
    background-image: url(../img/board-bg.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    gap: var(--col-gap);
    padding-top: var(--pading-top);
    /* transform: perspective(230px) rotateX(-1deg); */
}

#game-board:after {
    /* content: ''; */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(../img/board-frame.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

#game-board .column-wrapper {
    overflow: hidden;
    position: relative;
    height: calc( calc(var(--item)*3) + calc(var(--row-gap)*4) )
}

#game-board .column-wrapper .column {
    display: flex;
    flex-direction: column;
    gap: var(--row-gap);
}

#game-board .column .item-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
}

#game-board .column .item-wrapper img {
    width: var(--item);
    height: var(--item);
    transition: .15s ease;
    border-width: 0;
    border-style: solid;
    border-color: red;
    object-fit: contain;
}

:root {
    --high-light-time: .3s;
    --rows: 3;
    --cols: 3;
    --item-height: calc(100% / var(--rows) )
}

#game-board .column .item-wrapper.high-light img {
    animation: high-light var(--high-light-time) ease-in-out forwards; 
}


/* HIGHLIGHT */
@keyframes high-light {
    0% {
        border-width: 0;
        /* border-color: transparent; */
        transform: scale(1);
    }
    20% {
        border-width: 5px;
        /* border-color: red; */
        transform: scale(1.3);
    }
    40% {
        border-width: 5px;
        /* border-color: red; */
        transform: scale(1.3);
    }
    100% {
        border-width: 5px;
        /* border-color: re; */
        transform: scale(1);
    }
}


/* XXX */
#game-board > .xxx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#game-board > .xxx > .line {
    position: absolute;
    left: -5%;
    width: 110%;
    height: 10px;
    /* background-color: rgb(0, 192, 48); */
    border-radius:10px;
    border: 3px solid rgba(70,32,171,0.75);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: scaleY(0) scaleX(0.85);
    transition: .08s ease;
    box-shadow: 0px 0px 10px 5px rgba(70,32,171,0.75);
}

#game-board > .xxx > .line.active {
    transform: scaleY(1) scaleX(1)
}

@keyframes line-highlight {
    0% {transform: scaleY(0)}
    20% {transform: scaleY(1)}
    40% {transform: scaleY(1)}
    100% {transform: scaleY(0)}
}


#game-board > .xxx > .line > span {
    position: relative;
    font-size: 70px;
    font-weight: bold;
    color:rgba(70,32,171,0.75);
}

#game-board > .xxx > .line > span.left {left: -12%;}

#game-board > .xxx > .line > span.right {right: -12%;}

#game-board > .xxx > .line:nth-of-type(1) { 
    top: calc( calc(var(--item-height)/2) + calc(var(--item-height)*0) )
}

#game-board > .xxx .line:nth-of-type(2) { 
    top: calc( calc(var(--item-height)/2) + calc(var(--item-height)*1) )
}

#game-board > .xxx .line:nth-of-type(3) { 
    top: calc( calc(var(--item-height)/2) + calc(var(--item-height)*2) )
}


#game-board > .xxx > .line.x {
    width: 120%;
    left: -10%;
    top: 50%;
    transform: scale(1);
    transform: scaleY(0) scaleX(0.85);
}


#game-board > .xxx > .line.x:nth-of-type(4) {
    transform: rotate(30deg) scaleY(0);
}
#game-board > .xxx > .line.x.line.active:nth-of-type(4) {
    transform: rotate(30deg) scale(1);
}
#game-board > .xxx > .line.x:nth-of-type(4) > span {
    transform: rotate(-30deg)
}


#game-board > .xxx > .line.x:nth-of-type(5) {
    transform: rotate(-30deg) scaleY(0);
}
#game-board > .xxx > .line.x.active:nth-of-type(5) {
    transform: rotate(-30deg) scaleY(1);
}
#game-board > .xxx > .line.x:nth-of-type(5) > span {
    transform: rotate(30deg)
}

#game-board > .xxx > .line.x:nth-of-type(4) > .left
#game-board > .xxx > .line.x:nth-of-type(5) > .right {
    top: 30px;
}



/* @keyframes line-highlight-x {
    0% {transform: scaleY(0)}
    20% {transform: scaleY(1)}
    40% {transform: scaleY(1)}
    100% {transform: scaleY(0)}
}

@keyframes line-highlight-x-1 {
    0% {transform: scaleY(0)}
    20% {transform: scaleY(1)}
    40% {transform: scaleY(1)}
    100% {transform: scaleY(0)}
} */




@media (max-width: 1200px) {
    :root {
        --pading-top: 20px;
        --board: 600px;
        --item: 95px;
        --row-gap: 39px;
        --col-gap: 103px;
    }
}

@media (max-width: 768px) {
    :root {
        --pading-top: 10px;
        --board: 450px;
        --item: 74px;
        --row-gap: 28px;
        --col-gap: 75px;
    }

    .xxx {display: none;} 
}

@media (max-width: 768px) {
    :root {
        --pading-top: 1vw;
        --board: 90vw;
        --item: 17vw;
        --row-gap: 4vw;
        --col-gap: 13vw;
    }
}
