/* UI */
#game-ui {
    width: 50%;
}

/* display */
#game-ui .display {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    column-gap: 20px;
    width: 100%;
}

#game-ui .display > div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 12px 20px 15px;
    border: 1px solid tomato;
    background:rgba(255, 99, 71, 0.404);
    border-radius: 10px;
    position: relative;
}

#game-ui .display > div p { 
    font-size: 45px;
    color: #ed143d;
    transition: .06s ease-in-out;
}

#game-ui .display > div p.active {
    transform: scale(1.2);
} 

#game-ui .display > div::before {
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 80%);
    border: 1px solid tomato;
    border-radius: 7px;
    background: brown;
    color: white;
    font-size: 20px;
    padding: 5px 5px;
    text-align: center;
}

#game-ui .display > div:nth-child(1):before { content: "COINS"}
#game-ui .display > div:nth-child(2):before { content: "BET"}
#game-ui .display > div:nth-child(3):before { content: "WIN"}


/* controls */
#game-ui .controls {
    width: 100%;
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

#game-ui .controls > button {
    min-height: 70px;
    border: 3px solid black;
    border-radius: 5px;
    background-color: white;
    font-size: 20px;
    padding: 15px 15px 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .1s ease;
}

#game-ui .controls > button.active,
#game-ui .controls > button:active {
    background-color: #000;
    color: #fff;
    border-color: rgba(0, 0, 0, 0.527)
}



@media (max-width: 768px) {

    #game-ui {
        width: 80%;
    }


    #game-ui .controls {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 30px;
        width: 100%;
    }

}

@media (max-width: 576px) {

    #game-ui .display {
        column-gap: 10px;
        grid-template-columns: 6fr 5fr 6fr;
    }

    #game-ui .display > div {
        padding: 5px 10px 6px;
    }
    #game-ui .display > div p {
        font-size: 30px;
    }

    #game-ui .controls {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    #game-ui .controls > button {
        padding: 10px 10px 11px;
        font-size: 14px;
        min-height: unset;
    }

    #game-ui .display > div::before {
        width: 60%;
        transform: translate(-50%, 80%);
        font-size: 12px;
        padding: 3px 5px;

    }

}