:root {
    --canvas-margin: 1%;
}

* { box-sizing: border-box; }

body {
    margin: 0 auto;
    max-width: 1920px;
}

header {
    width: 100%;
    height: 70px;
    background-color: #a7a7a7;
    display: flex;
    align-items: center;
    padding: 0 50px;
}

header .exit {
    font-size: 30px;
    transition: .2s ease;
}

header .exit:hover {transform: scale(1.2);}


#scores-page .session {
    border: 2px solid #a7a7a7;
    background-color: #e5e5e5;
    width: 100%;
    margin-top: 10px;
    padding: 0 var(--canvas-margin);
}

#scores-page .session {
    cursor: pointer;
    transition: .1s ease;
    overflow: hidden;
}

#scores-page .session:hover {
    background-color: #bbbbbb;
}

#scores-page .session .data {
    padding: 15px 0;
    display: grid;
    grid-template-columns: 1fr repeat(7, 2fr) 1fr 1fr;
}

#scores-page .session .data > div {font-weight: bold;}
#scores-page .session .data > div:before {font-weight: normal;}

#scores-page .session .data > div:nth-of-type(1):before {content: 'lp: '}
#scores-page .session .data > div:nth-of-type(2):before {content: 'date: '}
#scores-page .session .data > div:nth-of-type(3):before {content: 'start time: '}
#scores-page .session .data > div:nth-of-type(4):before {content: 'stop time: '}
#scores-page .session .data > div:nth-of-type(5):before {content: 'coins: '}
#scores-page .session .data > div:nth-of-type(6):before {content: 'win: '}
#scores-page .session .data > div:nth-of-type(7):before {content: 'total coins: '}
#scores-page .session .data > div:nth-of-type(8):before {content: 'total win: '}
#scores-page .session .data > div:nth-of-type(9):before {content: 'spins: '}


/* GRAPH */

#scores-page .session .graph-container {
    height: 0;
    overflow: hidden;
    transition: .15s ease;
}

#scores-page .session.open .graph-container {
    height: 670px;
    width: 100%;
}

#scores-page .session .graph-container canvas {
    background-color: #fff;
}

@media (max-width: 768px) {


}

